- hosts: all
  tasks:
    - shell:
        cmd: |
          set -e
          mkdir .bundled_gems
          export GEM_HOME=`pwd`/.bundled_gems
          export GEM_BIN_DIR=$GEM_HOME/bin
          gem install bundler --no-document --verbose --no-user-install --bindir=${GEM_BIN_DIR}
          $GEM_BIN_DIR/bundle config set --local without system_tests
          $GEM_BIN_DIR/bundle install --retry 3
          $GEM_BIN_DIR/bundle exec rake lint 2>&1
          if [ -f metadata.json ]; then
            $GEM_BIN_DIR/bundle exec rake metadata_lint 2>&1
          fi
        chdir: '{{ ansible_user_dir }}/workspace'
      environment: '{{ zuul | zuul_legacy_vars }}'
